@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

@font-face {
    font-family: 'xilosa';
    src: url(xilosa.ttf);
}



* {
    margin: 0px;
    padding: 0%;
}

header {
    background-color: black;
    padding: 50px 0 50px;
    
    color: white;
    text-align: center;
}

header>h1 {
    font-variant: small-caps;
    font: 900 10vw 'xilosa', 'Poppins', sans-serif;
    
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    background-color: white;

}

section p {
   font: normal 3vw 'Poppins', sans-serif;
   line-height: 2em;
}


section.imagem {
    background-color: darkgrey;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 10px black;

}

#img01 {
    background-image: url(./imagens/background001.jpg);
}

#img02 {
    background-image: url(./imagens/background002.jpg);
}


section.imagem > p {
    background-color: rgba(0, 0, 0, 0.202);
    display: inline-block;
    padding: 0px 10px;
    color: white;
    text-shadow: 1px 1px 0px black;
}

p.doublep {
    padding-bottom: 2em;
}

footer {
    padding: 20px 0px;
    text-align: center;
    background-color: black;
    color: white;
}

footer p {
  text-decoration: none;
  cursor: help; /* opcional, mantém a semântica */
}