@charset "UTF-8";

* {
    margin: 0px;
    padding: 0%;
}

header {
    background-color: black;
    padding: 50px 0 50px;
    
    color: white;
    text-align: center;
}

header>h1 {
    font-variant: small-caps;
    font-size: 3em;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;

}

section {
    background-color: white;
    box-shadow: 0px 0px 5px black;
}

section.imagem {
    background-color: darkgrey;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.202);
    max-width: 400px;
}

footer {
    padding: 20px 0px;
    text-align: center;
    background-color: black;
    color: white;
}